<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> -->
</head>

<body>
    <div class="signup">
        <h1>Welcome to Scatch</h1>
        <p>Create your account</p>
        <form action="/users/register" method="post">
            <input type="text" name="fullname" placeholder="Full Name">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="password">

            <input type="submit" value="Create My Account">
        </form>
    </div>
    <br>
    <br>
    <div class="login">
        <p>Login Your Account</p>
        <form action="/users/login" method="post">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="password">

            <input type="submit" value="Login">
        </form>
    </div>
</body>

</html>